#                                           Assignment_1

In [ ]:
Name :Venkatprabhu
Email:venkatprabhu0113@gmail.com

In [7]:
# question 1

for i in range(5):
    for j in range(5-i):
        print("5",end=" ")
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [14]:
# question 2

for i in range(6):
    if i==5:
        break
    for j in range(6-i):
        print(j,end=" ")
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [21]:
#question 3

for i in range(1,10,2):
    for j in range(0,i,2):
        print(i,end=" ")
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [30]:
#question 4

for i in range(6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [43]:
# question 5

k=0
for i in range(1,5):
    k+=i
    for j in range(k,k-i,-1):
        print(j,end=" ")
    print()

1
3 2
6 5 4
10 9 8 7

In [48]:
# question 6

n=7
for x in range(1,n+1):
    y=1
    for z in range(1,x+1):
        print(y,end=" ")
        y=y*(x-z)//z
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [52]:
# question 7

n=5
for x in range(1,n+1):
    for  y in range(1,n+1):
        if y<x:
            print(x,end=" ")
        else:
            print(y,end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [61]:
# question 8

x=int(input("enter number:"))
n=int(input("enter number:"))
for j in range(1,x):
    for k in range(1,j+1):
        print(j*k,end=" ")
    print()

enter number:9
enter number:4
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [95]:
# question 9

n=4
m = (2 * n) - 2  
for x in range(6,0,-1):
    for y in range(m):
        print(" ",end="")
    m = m + 1
    for z in range(0,x):
        print("* ",end="")
    print()

      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           *

In [88]:
# question 10

n = int(input("Enter the number of rows: "))  
m = (2 * n) - 2  
for i in range(0, n):  
    for j in range(0, m):  
        print(end=" ")  
    m = m - 1   
    for j in range(0, i + 1):  
         print("* ", end=' ')  
    print(" ")

Enter the number of rows: 7
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [107]:
# question 11

for x in range(1,7):
    for y in range(1,x+1):
        print("*",end=" ")
    print()
for i in range(1):
    print()
for x in range(1,7):
    for y in range(7,x,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [112]:
# question 12

for x in range(1,5):
    for y in range(1,x+1):
        print("*",end=" ")
    print()
for x in range(1,6):
    for y in range(6,x,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [121]:
# question 13

for x in range(1,6):
    for y in range(6,x,-1):
        print(" ",end=" ")
    for z in range(0,x):
        print("*",end=" ")
    print()
for x in range(6,0,-1):
    for y in range(x,6):
        print(" ",end=" ")
    for z in range(0,x):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *

In [136]:
# question 14

for i in range(5,0,-1):
    for j in range(i,6):
        print(" ",end="")
    for k in range(0,i):
        print("*",end=" ")
    print()
for i in range(1,6):
    for j in range(6,i,-1):
        print(" ",end="")
    for k in range(0,i):
        print("*",end=" ")
    print()

 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *

In [137]:
# question 15

rows=14
print("*" * rows,end="\n")
i=(rows // 2)-1
j=2
while i!=0:
    while j<=(rows-2):
        print("*" *i,end="")
        print("_" *j,end="")
        print("*" *i,end="\n")
        i=i-1
        j=j+2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*